@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* colours */

.active, .fa {
    color: #00ff00 !important;
}

.light-background {
    background-color: #ebebeb;
}

.hero-image {
    background-image: url("/assets/img/HeadshotLandscape.jpg");
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.buzz-words {
    background-color: #2f2f2f;
    display: flex;
    padding-left: 2rem;
    font-family: "anonymous pro", monospace;
    color: white;
    height: auto;
    font-size: x-large;
    line-height: 150%;
}


.section-heading h1 {
    font-family: "exo", sans-serif;
    padding: 1rem;
}

.section-heading p {
    font-family: "anonymous pro", monospace;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

/* social-media */
.social-media {
    width: 50%;
    margin-bottom: 50px;
    margin: auto;
    padding: 1em;
    text-align: center;
    background-color: #2f2f2f;
}

.social-links {
    font-size: 2em;
}

.fa {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* footer */

.footer {

}

/* shift image to the right for smaller screens */

/* @media (max-width: 768px) {
    .hero-image {
        background-position: calc(100% + 100px) center;
    }
}  */

@media screen and (orientation: portrait) {
    .hero-image {
        background-image: url("/assets/img/IMG_1888-2.jpg");
        background-position: center center;
        background-size: cover;
        position: relative;
        
    }
}
        /* styles for portrait screens */
