@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ---------------------------------------------------------------------------colours */

/* backgrounds */
.about-body {
    background-color: #2f2f2f;
    color: white
}

.light-background {
    background-color: #ebebeb;
}

.dark-background {
    background-color: #2f2f2f;
    color: white;
}

/* brand colour lime */
.active, .fa {
    color: #00ff00 !important;
}

.fa:hover {
    color: #ff00ff !important;
}

/* progress bar background grey */
.bar-bg-color {
    background-color: #404040;
}

.progress-bar-green {
background-color: #00ff00;
color: black;
}

.progress-bar-pink {
background-color: #ff00ff;
}

.progress-bar-gray {
background-color: #929292;
}

.progress-bar-dark-gray {
background-color: #5c5c5c;
}

.btn-get-code {
    background-color: #00ff00;
}

.btn-get-code>a {
    color: black;
    text-decoration: none;
}

.btn-get-code:hover {
    background-color: #ff00ff;
    color: black;
    text-decoration: none;
}

.list-bg-color {
    background-color: #404040;
    color: white;
}
/* ----------------------------------------------------------------------------home page */
.hero-image {
    background-image: url("../img/HeadshotLandscape.jpg");
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.buzz-words {
    background-color: #2f2f2f;
    display: flex;
    padding-left: 2rem;
    font-family: "anonymous pro", monospace;
    color: white;
    height: auto;
    font-size: x-large;
    line-height: 150%;
}


.section-heading h1, h2, h3, h4 {
    font-family: "exo", sans-serif;
    padding: 1rem;
}

.section-heading p {
    font-family: "anonymous pro", monospace;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

/* social-media */
.social-media {
    width: 50%;
    margin-bottom: 50px;
    margin: auto;
    padding: 1em;
    text-align: center;
    background-color: #2f2f2f;
}

.social-links {
    font-size: 2em;
}

.fa {
    margin-left: 0.5em;
    margin-right: 0.5em;
}


/* ----------------------------------------------------------styles for portrait screens */

@media screen and (orientation: portrait) {
    .hero-image {
        background-image: url("../img/HeadshotSquare.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-color: transparent;
        position: relative;
        background-attachment: fixed;
    }
}

        
/* ----------------------------------------------------------------------about page */

/* ---------------------------------------------------------progress bars */

.progress-section {
    top: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.progress-bars {
    margin-bottom: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bar-bg-color {
    margin-bottom: 20px; 
    height: 25px;
}

.progress-text {
    text-align: left;
    padding-left: 1rem;
    font-weight: bold;
    font-family: "anonymous pro", monospace;
    letter-spacing: 2px;
    font-size: 1.5em;
}

/* ------------------------------------------ timeline */

.timeline-item {
    padding: 4em 1em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    margin-left:10%;
    width: 70%;
}

.timeline-item p {
    padding:0px 16px 16px 0px;
    margin: 0px;}

.timeline-item h4 {
    padding: 0px 16px 0px 0px;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #00ff00;
}

/* ----------------------------------------------------------------Projects page */

.code-image {
    background-image: url("../img/PythonGen.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .code-image {
        display: none;
    }
    .project-list {
        padding: 0px 0px 50px 00px;
    }
}

.project-list {
    margin: 0px 25px 25px 25px;
}

.prog-lang-csharp {
    font-family: exo, sans-serif;
    color: lime;
    font-weight: bold;
}

.prog-lang-py, .prog-lang-html, .prog-lang-css, .prog-lang-js {
    color: lime;
    font-size: 24px;
}

li p {
    font-family: "anonymous pro", monospace;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
/* -----------------------------------------------------------------contact page */

.centre-form {
    position: relative;
    margin: 0 auto;
    background-color: #2f2f2f;
}

.contact-form {
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    background-color:transparent;
    color: white;
}

.section-heading-contact h1,
.section-heading-contact p {
    font-family: "exo", sans-serif;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
}

.form-container {
    min-height: 100vh;
    width: 100vw;
    background-color: #2f2f2f;
}

/* ------------------------------------------------MEDIA QUERIES AT BOTTOM OF CSS */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #breakpoints::before {
        content: "Small screens and up (>576px Landscape phones) - 'sm'";
        background-color: aquamarine;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #breakpoints::before {
        content: "Medium screens and up (>768px Tablets) - 'md'";
        background-color: aquamarine;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #breakpoints::before {
        content: "Large screens and up (>992px Desktops) - 'lg'";
        background-color: aquamarine;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #breakpoints::before {
        content: "Extra Large screens and up (>1200px Large Desktops) - 'xl'";
        background-color: aquamarine;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #breakpoints::before {
        content: "Extra Extra Large screens and up (>1400px Larger Desktops) - 'xxl'";
        background-color: aquamarine;
    }
}
